*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/libs/propeditors-debug-v1.0.2.aar
/app/release/BudgetControl-v1.3.366.apk
/app/libs/propeditors-release-v1.0.2.aar
